.header__menu-btn {
  display: none;
  align-self: flex-end;
  margin: 0 30px 31.5px 0;
  padding: 0;
  background: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: .2s;
}

.header__menu-btn:hover {
  opacity: .6;
}

.header__menu-btn:active {
  transform: rotate(180deg);
}

@media screen and (max-width: 611px) {
  .header__menu-btn {
    display: block;
  }
}