.cards__like-btn {
  width: 22px;
  height: 19px;
  padding: 0;
  flex-shrink: 0;
  background: transparent;
  background-image: url(../../../images/cards__like-btn.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.cards__like-btn:hover {
  opacity: .5;
}